@using MarketPlace.Application.Utils
@using MarketPlace.DataLayer.DTOs.Contact
@model MarketPlace.DataLayer.DTOs.Contact.TicketDetailDTO
@{
    ViewData["Title"] = Model.Ticket.Title;
    //ViewData["Title"] = "جزیات"; 

}
@section styles
{
    <link rel="stylesheet" href="/css/ChatRoom.css"/>
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-area="User" asp-controller="Home" asp-action="Dashboard">خانه</a></li>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    @await Component.InvokeAsync("UserSidebar")
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade active show" id="account-details">
                            <h3>@ViewData["Title"] </h3>
                            <partial name="AnswerTicketPartial" model="new AnswerTicketDTO{Id = Model.Ticket.Id}" />
                            <br />
                            <ul class="messages" id="messages">
                                @if (Model.TicketMessage != null && Model.TicketMessage.Any())
                                {
                                    @foreach (var message in Model.TicketMessage)
                                    {
                                        <li class="message @(message.SenderId == Model.Ticket.OwnerId ? "right" : "left") appeared">
                                            <div class="avatar">
                                                <img src="/img/defaults/avatar.jpg" alt="Alternate Text">
                                            </div>
                                            <div class="text_wrapper">
                                                <div class="time">
                                                    @message.CreateDate.ToStringShamsiDate() ساعت @message.CreateDate.ToString("HH:mm")
                                                </div>
                                                <div class="text" style="font-size: 16px">
                                                    @Html.Raw(message.Text)
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

