@using MarketPlace.Application.Extensions
@model MarketPlace.DataLayer.DTOs.Seller.FilterSellerDTO
@{
    ViewData["Title"] = "درخواست ها";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-area="User" asp-controller="Home" asp-action="Dashboard">خانه</a></li>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    @await Component.InvokeAsync("UserSidebar")
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade active show" id="account-details">
                            <h3>@ViewData["Title"] </h3>
                            @if (Model.Sellers != null && Model.Sellers.Any())
                            {
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>شناسه</th>
                                                <th>نام فروشگاه</th>
                                                <th>تلفن </th>
                                                <th>وضعیت</th>
                                                <th>دستورات</th>س
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var seller in Model.Sellers)
                                            {
                                                <tr>
                                                    <td>@seller.Id</td>
                                                    <td>@seller.StoreName</td>
                                                    <td>@seller.Phone</td>
                                                    <td>@seller.SellerAcceptanceState.GetEnumName()</td>
                                                    <td><a asp-area="User" asp-controller="Seller" asp-action="EditRequestSeller" asp-route-id="@seller.Id">ویرایش</a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <partial name="_NotItemFound" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


