@using MarketPlace.DataLayer.Entities.Products
@model MarketPlace.DataLayer.DTOs.Product.CreateProductDTO
@{
    ViewData["Title"] = "CreateProduct";
    var categories = ViewBag.Categories as List<ProductCategory>;
}

@section script{
    <partial name="_jqueryValidatord" />
}
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-area="User" asp-controller="Home" asp-action="Dashboard">خانه</a></li>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    @await Component.InvokeAsync("SellerSidebar")
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade active show" id="account-details">
                            <h3>@ViewData["Title"] </h3>
                            <div class="login">
                                <div class="login_form_container">
                                    <div class="account_login_form">
                                        <form asp-area="Seller" asp-controller="Product" asp-action="CreateProduct" enctype="multipart/form-data">
                                            <br>
                                            <label> نام محصول</label>
                                            <input type="text" asp-for="Title">
                                            <span class="text-danger" asp-validation-for="Title"></span>
                                            <br />
                                            <label> قیمت محصول </label>
                                            <input type="text" asp-for="Price">
                                            <span class="text-danger" asp-validation-for="Price"></span>
                                            <br />
                                            <label> توضیحات کوتاه</label>
                                            <textarea style="width: 100%" rows="10" asp-for="ShortDescription"></textarea>
                                            <span class="text-danger" asp-validation-for="ShortDescription"></span>
                                            <br />
                                            <label> توضیحات</label>
                                            <textarea style="width: 100%" rows="10" asp-for="Description" ckeditor="1"></textarea>
                                            <span class="text-danger" asp-validation-for="Description"></span>
                                            <br />
                                            <label>
                                                <input type="checkbox" name="@nameof(Model.IsActive)" value="true" /> فعال / غیرفعال
                                            </label>
                                            <br />
                                            <div class="col-md-9">
                                                <input type="file" name="productImag" accept=".png,.jpeg" />
                                            </div>
                                            @if (categories != null && categories.Any())
                                            {
                                                @foreach (var category in categories.Where(s => s.ParentId == null))
                                                {
                                                    <ul>
                                                        <li>
                                                            <label>
                                                                <input type="checkbox" name="@nameof(Model.SelectedCategories)" value="@category.Id" /> @category.Title
                                                            </label>
                                                            @if (categories.Any(s => s.ParentId == category.Id))
                                                            {
                                                                <div>

                                                                    @foreach (var subCategory in categories.Where(s => s.ParentId == category.Id))
                                                                    {
                                                                        <label>
                                                                            <input type="checkbox" name="@nameof(Model.SelectedCategories)" value="@subCategory.Id" /> @subCategory.Title
                                                                        </label>
                                                                    }
                                                                </div>
                                                            }
                                                        </li>

                                                    </ul>
                                                    <hr />
                                                }
                                            }
                                            <div class="save_button primary_btn default_button">
                                                <button type="submit">ایجاد</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
