@using MarketPlace.DataLayer.Entities.Products
@model MarketPlace.DataLayer.DTOs.Product.CreateProductDTO
@{
    ViewData["Title"] = "ایجاد محصول";
    var categories = ViewBag.Categories as List<ProductCategory>;
}


<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-area="User" asp-controller="Home" asp-action="Dashboard">خانه</a></li>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    @await Component.InvokeAsync("SellerSidebar")
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade active show" id="account-details">
                            <h3>@ViewData["Title"] </h3>
                            <div class="login">
                                <div class="login_form_container">
                                    <div class="account_login_form">
                                        <form asp-area="Seller" asp-controller="Product" asp-action="CreateProduct" enctype="multipart/form-data" id="create_product_form">
                                            <br>
                                            <label> نام محصول</label>
                                            <input asp-for="Title">
                                            <span class="text-danger" asp-validation-for="Title"></span>
                                            <br />
                                            <label> قیمت محصول </label>
                                            <input asp-for="Price">
                                            <span class="text-danger" asp-validation-for="Price"></span>
                                            <br />
                                            <label> توضیحات کوتاه</label>
                                            <textarea style="width: 100%" rows="10" asp-for="ShortDescription"></textarea>
                                            <span class="text-danger" asp-validation-for="ShortDescription"></span>
                                            <br />
                                            <label> توضیحات</label>
                                            <textarea style="width: 100%" rows="10" asp-for="Description" ckeditor="1"></textarea>
                                            <span class="text-danger" asp-validation-for="Description"></span>
                                            <br />
                                            <label>
                                                <input type="checkbox" name="@nameof(Model.IsActive)" value="true" /> فعال / غیرفعال
                                            </label>
                                            <br />
                                            <div class="col-md-9">
                                                <input type="file" name="productImage" accept=".png,.jpeg" />
                                            </div>
                                            @if (categories != null && categories.Any())
                                            {
                                                @foreach (var category in categories.Where(s => s.ParentId == null))
                                                {
                                                    <!--#region old code-->

                                                    @*<ul>
                                                            <li>
                                                                <label>
                                                                    <input type="checkbox" name="@nameof(Model.SelectedCategories)" value="@category.Id" main_category_checkbox="@category.Id" /> @category.Title
                                                                </label>
                                                                @if (categories.Any(s => s.ParentId == category.Id))
                                                                {
                                                                    <div id="sub_categories_@category.Id" style="display: none">

                                                                        @foreach (var subCategory in categories.Where(s => s.ParentId == category.Id))
                                                                        {
                                                                            <label>
                                                                                <input type="checkbox" name="@nameof(Model.SelectedCategories)" value="@subCategory.Id" main_category_checkbox="@subCategory.Id" parent-category-id="@category.Id" /> @subCategory.Title
                                                                            </label>
                                                                            <div id="sub_categories_@subCategory.Id" style="display: none">
                                                                                @foreach (var secondSubCategory in categories.Where(s => s.ParentId == category.Id))
                                                                                {
                                                                                    <label>
                                                                                        <input type="checkbox" name="@nameof(Model.SelectedCategories)" value="@secondSubCategory.Id" main_category_checkbox="@secondSubCategory.Id" parent-category-id="@subCategory.Id" /> @secondSubCategory.Title
                                                                                    </label>
                                                                                }
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                }
                                                            </li>

                                                        </ul>
                                                        <hr />*@
                                                    <!--#endregion-->

                                                    <ul>
                                                        <li>
                                                            <label>
                                                                <input type="checkbox" name="@nameof(Model.SelectedCategories)" value="@category.Id" main_category_checkbox="@category.Id" /> @category.Title
                                                            </label>

                                                            <div id="sub_categories_@category.Id" style="display: none">

                                                                @foreach (var subCategory in categories.Where(s => s.ParentId == category.Id))
                                                                {
                                                                    <label>
                                                                        <input type="checkbox" name="@nameof(Model.SelectedCategories)" value="@subCategory.Id" main_category_checkbox="@subCategory.Id" parent-category-id="@category.Id" /> @subCategory.Title
                                                                    </label>
                                                                    <div id="sub_categories_@subCategory.Id" style="display: none">

                                                                        @foreach (var secondSubCategory in categories.Where(s => s.ParentId == subCategory.Id))
                                                                        {
                                                                            <label>
                                                                                <input type="checkbox" name="@nameof(Model.SelectedCategories)" value="@secondSubCategory.Id" parent-category-id="@subCategory.Id" /> @secondSubCategory.Title
                                                                            </label>
                                                                        }
                                                                    </div>
                                                                }
                                                            </div>
                                                        </li>

                                                    </ul>
                                                    <hr />
                                                }
                                            }
                                            <hr />
                                            <label>رنگ محصول</label>
                                            <input type="text" placeholder="رنگ محصول" id="product_color_name_input">

                                            <label>قیمت مضاف رنگ محصول</label>
                                            <input type="number" placeholder="قیمت مضاف رنگ محصول" id="product_color_price_input">

                                            <button class="btn btn-success" id="add_color_button">افزودن رنگ</button>
                                            <br />
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>نام رنگ</th>
                                                            <th>قیمت</th>
                                                            <th>دستورات</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="list_of_product_colors">
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="save_button primary_btn default_button">
                                                <button type="submit">ایجاد</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section script{
    <partial name="_jqueryValidatord"/>
    <script>
        $("[main_category_checkbox]").on('change',
            function(e) {
                var isChecked = $(this).is(':checked');
                var selectedCategoryId = $(this).attr('main_category_checkbox');
                console.log(selectedCategoryId);
                if (isChecked) {
                    $('#sub_categories_' + selectedCategoryId).slideDown(300);
                } else {
                    $('#sub_categories_' + selectedCategoryId).slideUp(300);
                    $('[parent-category-id="' + selectedCategoryId + '"]').prop('checked', false);
                }
            });
        $('#add_color_button').on('click',
            function(e) {
                e.preventDefault();
                var colorName = $('#product_color_name_input').val();
                var colorPrice = $('#product_color_price_input').val();
                if (colorName != '' && colorPrice != '') {
                    var currentColorsCount = $('#list_of_product_colors tr');
                    var index = currentColorsCount.length;
                    var colorNameNode = `<input type="hidden" value="${colorName}"  name="ProductColors[${index}].ColorName" coler-name-hidden-index="${colorName}-${colorPrice}" >`;
                    var colorPriceNode = `<input type="hidden" value="${colorPrice}"  name="ProductColors[${index}].Price"  coler-price-hidden-index="${colorName}-${colorPrice}" >`;
                    $('#create_product_form').append(colorNameNode);
                    $('#create_product_form').append(colorPriceNode);

                    var colorTableNode = `<tr coler-item-item="${colorName}-${colorPrice}"> <td> ${colorName} </td>  <td> ${colorPrice} </td>  <td> <a class="btn btn-danger" onclick="removeProductColer('${colorName}-${colorPrice}')" >حذف</a> </td>  </tr>`;
                    $('#list_of_product_colors').append(colorTableNode);

                    $('#product_color_name_input').val('');
                    $('#product_color_price_input').val('');
                } else {
                    ShowMessage("اخطار", "اطفا رنگ را درست وارد کنید", "warning")
                }
            });

        function removeProductColer(index2) {
            $('[coler-item-item="' + index2 + '"]').remove();
            $('[coler-name-hidden-index="' + index2 + '"]').remove();
            $('[coler-price-hidden-index="' + index2 + '"]').remove();
        }

    </script>
}